#ip-location-info {
    word-break: break-all;
    font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

#ip-location-info-loc,
#ip-location-info-distance {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--ip-location-info-color)
}
