#site-date
    div &ensp;
    div &ensp;
    div &ensp;
    style
        | #site-date {
        if config.sitedate.color
            | --sitedate-color: !{config.sitedate.color}
        | }
        include style.css
    script
        include action.js
