:root {
    --sitedate-color: #eee;
}

#site-date {
    color: var(--sitedate-color);
    line-height: 1;
    text-align: center;
    margin-top: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

#site-date div:nth-child(1) {
    font-size: 1.376em;
    font-style: italic;
}

#site-date div:nth-child(2) {
    font-size: 2.048em;
    font-style: italic;
}

#site-date div:nth-child(3) {
    font-size: 1.024em;
}

@media screen and (min-width: 768px) {
    #site-date div:nth-child(1) {
        font-size: 2.56em;
    }
    
    #site-date div:nth-child(2) {
        font-size: 3.84em;
    }
    
    #site-date div:nth-child(3) {
        font-size: 2em;
    }
}
