#simple-digital-clock {
    color: var(--simple-digital-clock-color);
    line-height: 1;
    text-align: center;
    margin-top: 16px;
}

#simple-digital-clock div:nth-child(1) {
    font-size: 1.376em;
    font-style: italic;
}

#simple-digital-clock div:nth-child(2) {
    font-size: 2.048em;
    font-style: italic;
}

#simple-digital-clock div:nth-child(3) {
    font-size: 1.024em;
}

@media screen and (min-width: 768px) {
    #simple-digital-clock div:nth-child(1) {
        font-size: 2.56em;
    }
    
    #simple-digital-clock div:nth-child(2) {
        font-size: 3.84em;
    }
    
    #simple-digital-clock div:nth-child(3) {
        font-size: 2em;
    }
}
